$linkHoverColor: #2F3249;
$activeLinkTextColor: #3899ec;
$activeLinkBackgroundColor: #393f59;
$mainBackgroundColor: #23263e;
$titleColor: #7a92a5;
$separatorColor: rgb(67, 69, 103);
$Helvetica55: HelveticaNeueW01-55Roma,HelveticaNeueW02-55Roma,HelveticaNeueW10-55Roma,Helvetica Neue,Helvetica,Arial,\\30E1\30A4\30EA\30AA,meiryo,\\30D2\30E9\30AE\30CE\89D2\30B4 pro w3,hiragino kaku gothic pro,"sans-serif";
$Helvetica65: HelveticaNeueW01-65Medi,HelveticaNeueW02-65Medi,HelveticaNeueW10-65Medi,Helvetica Neue,Helvetica,Arial,\\30E1\30A4\30EA\30AA,meiryo,\\30D2\30E9\30AE\30CE\89D2\30B4 pro w3,hiragino kaku gothic pro,"sans-serif";
$Helvetica75: HelveticaNeueW01-75Bold,HelveticaNeueW02-75,HelveticaNeueW10-75,Helvetica Neue,Helvetica,Arial,\\30E1\30A4\30EA\30AA,meiryo,\\30D2\30E9\30AE\30CE\89D2\30B4 pro w3,hiragino kaku gothic pro,"sans-serif";
$levelCount: 2;
$menuWidth: 100% / $levelCount;
$totalMenusWidth: 100% * $levelCount;