@import "../../common";

.text {
  text-decoration: none;
  color: white;
  padding: 10px 30px 10px 24px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  display: block;
}

.disable {
  opacity: .45;
  color: white;
}

.disable:hover {
  background: none !important;
}

.disable:active {
  background: none !important;
  color: white !important;
}

.text:hover {
  background: #2f3249;
}

.text:active {
  background-color: $activeLinkBackgroundColor;
  color: $activeLinkTextColor;
}

.active {
  background-color: $activeLinkBackgroundColor;
  color: $activeLinkTextColor;
}

