@import '../colors.scss';

.full-size {
  width: 66%;
  height: 100%;
}

.images-container-layout {
  @extend .full-size;
  margin: 0 auto;
}

.loader {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $paletteB5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  display: inline-block;
}

.slider-container {
  position: relative;
}

.slider-container[data-is-loading="true"] {
  display: none;
}

 .page-navigation {
  color: transparent
}



