:import {
  -st-from: "../../DropdownBase/DropdownBase.st.css";
  -st-default: DropdownBase;
}

.root {
  text-align: center;
  -st-extends: DropdownBase;
}

.root::popoverContent {
  min-width: 100px;
}