:import {
  -st-from: "../../DropdownBase/DropdownBase.st.css";
  -st-default: DropdownBase;
}

.root {
  text-align: center;
  -st-extends: DropdownBase;
}

.root::popoverContent {
  min-width: 100px;
}

.root:withArrow::popover[data-placement*="top"]::popoverContent,
.root:withArrow::popover[data-placement*="left"]::popoverContent,
.root:withArrow::popover[data-placement*="right"]::popoverContent,
.root:withArrow::popover[data-placement*="bottom"]::popoverContent {
  padding: 10px 0;
}