@import './colors-helpers.scss';
/* New swatches! */

$D10: #162d3d; // Main input text, titles
$D20: #32536a; // Titles, texts
$D30: #577083; // Texts
$D40: #7a92a5; // Dividers, texts, Placeholder
$D50: #b6c1cd; // Dividers, texts
$D55: #cbd3dc; // Disabled button - new version - naming not final
$D60: #dfe5eb; // Dividers
$D70: #f0f4f7; // Page background, dividers
$D80: #ffffff; // Content box background

$D10-05: colorWithOpacity($D10, 0.05);
$D10-10: colorWithOpacity($D10, 0.1);
$D10-20: colorWithOpacity($D10, 0.2);
$D10-30: colorWithOpacity($D10, 0.3);
$D80-30: colorWithOpacity($D80, 0.3);
$D80-70: colorWithOpacity($D80, 0.7);

$B00: #2b81cb; // Buttons
$B05: #308ddd; // CTA
$B10: #3899ec; // Main action color, active, buttons
$B20: #4eb7f5; // Hover for elements with B10, buttons
$B25: #a1d7fb;
$B27: #b3e0fb;
$B30: #c1e4fe; // Notifications
$B40: #daeffe; // Dividers, table selected, table headers
$B50: #eaf7ff; // Dividers
$B60: #f4fafe; // Table hover

$F00: #aadbfc; // Focus Outline

$P00: #8e21b1;
$P10: #aa4dc8; // Wix premium
$P20: #cd68ed;
$P30: #e5c9ee;
$P40: #eedbf4;
$P50: #faeeff; // Section Helper
$P60: #faf7fc;

$O00: #ea5f0e;
$O10: #fb7d33;
$O20: #ff9a48;

$R00: #d6453d;
$R05: #d8504c; // CTA
$R10: #ee5951; // Errors, CTA hover
$R20: #ff6666; // Notifications
$R30: #ffd7d7; // Notifications, Focus Errors
$R40: #ffe1e1;
$R50: #ffebeb; // Section Helper
$R60: #fff5f5;

$G00: #44823f;
$G05: #61ad5a; // CTA
$G10: #60bc57; // CTA hover
$G20: #80c979; // Notifications
$G30: #c9eebc; // Notifications
$G40: #def4d4;
$G50: #edf9e5; // Section Helper
$G60: #f2fbef;

$Y00: #c68801;
$Y05: #eda200; // CTA
$Y10: #fdb10c; // CTA hover
$Y20: #fac249; // Notifications
$Y30: #fef0ba; // Notifications
$Y40: #fef4cd;
$Y50: #fdf7df; // Section Helper
$Y60: #fffcf0;

$S10: rgba(22, 45, 61, 0.12);
$S20: rgba(22, 45, 61, 0.48);
$S30: rgba(22, 45, 61, 0.06);
$S40: rgba(22, 45, 61, 0.18);
$S50: rgba(255, 255, 255, 0.48);

$Shadow10: 0 2px 1px 0 $S20,
0 0 3px 0 $S10;
$Shadow20: 0 2px 4px 0 $S10,
0 0 6px 0 $S10;
$Shadow30: 0 6px 6px 0 $S30,
0 0 18px 0 $S10;
$Shadow40: 0 8px 8px 0 $S10,
0 3px 24px 0 $S40;

:export {
  D10: $D10;
  D20: $D20;
  D30: $D30;
  D40: $D40;
  D50: $D50;
  D55: $D55;
  D60: $D60;
  D70: $D70;
  D80: $D80;

  D10-30: $D10-30;
  D80-70: $D80-70;

  B00: $B00;
  B05: $B05;
  B10: $B10;
  B20: $B20;
  B25: $B25;
  B27: $B27;
  B30: $B30;
  B40: $B40;
  B50: $B50;
  B60: $B60;

  F00: $F00;

  P00: $P00;
  P10: $P10;
  P20: $P20;
  P30: $P30;
  P40: $P40;
  P50: $P50;
  P60: $P60;

  O00: $O00;
  O10: $O10;
  O20: $O20;

  R00: $R00;
  R05: $R05;
  R10: $R10;
  R20: $R20;
  R30: $R30;
  R40: $R40;
  R50: $R50;
  R60: $R60;

  G00: $G00;
  G05: $G05;
  G10: $G10;
  G20: $G20;
  G30: $G30;
  G40: $G40;
  G50: $G50;
  G60: $G60;

  Y00: $Y00;
  Y05: $Y05;
  Y10: $Y10;
  Y20: $Y20;
  Y30: $Y30;
  Y40: $Y40;
  Y50: $Y50;
  Y60: $Y60;
}

/*********************************************
*              DEPRECATED SECTION - START!
* TODO: The ALL variable below this message.
***********************************************/

$WR00: #e05050; // Wix Restaurant red

$GR10: #c8c8c8; // Disabled buttons
$GR20: #dadada; // Disabled fields
$GR30: #f1f1f1; // Disabled background
$GR40: #cbd3dc; // Disabled button - new version - naming not final
$GR50: #eff1f2;
$GR60: #a3abb0; // placeholder for InputArea theme="amaterial"

$paletteB1: #3899ec;
$paletteB2: #4eb7f5;
$paletteB3: #7fccf7;
$paletteB4: #d3edff;
$paletteB5: #eaf7ff;

$paletteD1: #162d3d;
$paletteD2: #2b5672;
$paletteD3: #7a92a5;
$paletteD4: #d9e1e8;
$paletteD5: #f0f3f5;
$paletteD6: #ffffff;

$paletteE1: #2b81cb;
$paletteE2: #0d487f;
$paletteE3: rgba(255, 255, 255, 0.96);
$paletteE4: #2d4150;
$paletteE5: #b1ddf8;
$paletteE6: #b6c1cd;
$paletteE7: #5effff;
$paletteE8: #18d2de;

$paletteP1: #aa4dc8;
$paletteP2: #bb71d3;
$paletteP3: #e5c9ee;
$paletteP4: #eedbf4;

$paletteG1: #60bc57;
$paletteG2: #80c979;
$paletteG3: #cfebcc;
$paletteG4: #dff2dd;

$paletteO1: #fb7d33;
$paletteO2: #fc975c;
$paletteO3: #fed8c1;
$paletteO4: #fee5d6;

$paletteY1: #ffc233;
$paletteY2: #ffce5c;
$paletteY3: #ffedc1;
$paletteY4: #fff3d6;

$paletteR1: #ee5951;
$paletteR2: #f1726b;
$paletteR3: #facdca;
$paletteR4: #fce6e5;

$BMCounter: #f4553f;

/*********************************************
*              DEPRECATED SECTION - END!!
***********************************************/